/* General styling for the app */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Neutral background to make the article stand out */
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.activity-add {
  background-color: #7CB9E8;
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.activity-add:hover {
  background-color: #559AC8;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border: 2px solid black;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
