/* Centering the article and making it the main focal point */
.article-container {
  max-width: 1000px;
  margin: 40px auto 155px auto;
  padding: 20px;
  background-color: #2b2b2b; /* Dark background for the article */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Darker shadow for consistency */
  height: auto;
  border: 1px solid #9ac69a; /* Subtle green border */
}

.article-title {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #9ac69a; /* Pastel green for the title */
}

/* Article text styling */
.article-text {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  padding: 5px 20px;
  color: #d4d4d4; /* Light text for readability */
  text-align: justify;
  padding-right: 10px; /* Optional: Add padding for scrollbar spacing */
  margin-bottom: 20px;
}

.article-text::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
